@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #f8eac9;
}

.navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
  align-items: center;
}

.navbar a:hover {
  color: #f8eac9;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.nav-right{
  display: flex;
  gap: 10px;
  align-items: center;
}

#theme-toggle {
  background: none;
  border: 2px solid rgb(0, 0, 0);
  color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.3s;
}

#theme-toggle:hover {
  background-color: white;
  color: black;
}

.main {
  text-align: center;
  padding: 50px 20px;
}

.main h1 {
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 60px;
}

.main h1:hover{
  transform: scale(1.1);
  transition: 0.4s;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.card:hover{
    transform: scale(1.1);
    transition: 0.43s;

}

.card p {
  white-space: pre-line;
  text-align: center;
}

.pink {
  background-color: #e9bcbc;
}

.green {
  background-color: #c7e9d4;
}

.blue {
  background-color: #c5d6db;
}




body.dark {
  background-color: #121212;
  color: #fff;
}

body.dark .navbar {
  background-color: #222;
}

body.dark .navbar a {
  color: #fff;
}

body.dark #theme-toggle {
  border-color: #fff;
  color: #fff;
}

body.dark #theme-toggle:hover {
  background-color: #fff;
  color: #000;
}

.main h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 48px;
  margin-bottom: 60px;
}

body.dark .card {
  box-shadow: 2px 2px 8px rgba(255,255,255,0.2);
}

body.dark .pink { background-color: #8b5e5e; }
body.dark .green { background-color: #497a63; }
body.dark .blue { background-color: #55737f; }


/* PROJECTS PAGE STYLING */


.project-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
}

.project-card {
  background-color: #9ddbe9;
  height: 100px;
  border-radius: 6px;
  justify-content: center;
  padding-top: 15px;
  text-align: center;
  font-size: 40px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s;
  margin-top: 20px;
}

.project-card a{
  text-decoration: none;
  color: #000;
}

.project-card:hover {
  transform: scale(1.05);
}

body.dark .project-card {
  background-color: #464781;
  box-shadow: 2px 2px 8px rgba(255,255,255,0.2);
}

body.dark .project-card a{
  color: white;
}



/* GAMING PAGE */
.gaming {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 100px 60px;
  flex-wrap: wrap;
  gap: 40px;
}
.gaming-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.gaming-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
}

.gaming-card h3 {
  font-size: 20px;
}



/* CONTACT PAGE */
.contact {
  margin-top: 70px; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 60px;
  flex-wrap: wrap;
  gap: 100px;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contact-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.contact-card img:hover {
  transform: scale(1.1);
}

.contact-card h3 {
  font-size: 18px;
  color: #000;
}

body.dark .contact-card h3{
  color: white;
}